* {
    box-sizing: border-box;
}


.header {
    border: 1px solid gray;
    height: 50px;
    text-align: center;
    padding: 5px;
    background-color: lightslategrey;
}

.main-frame-container {
    border: 1px gray solid;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 5px;
    padding: 2px;
    display: inline-block;
    width: 100%;
}

.metric-container {
    display: inline-block;
    border: 1px solid gray;
    margin-top: 1px;
    height: 600px;
    width: 30%;
    float: right;
}

.metric-header {
    margin-top: 1px;
    margin-left: 1px;
    margin-right: 1px;
    margin-top: 1px;
}


.item-frame {
    width: 20%;
    float: left;
    
    border: 1px solid gray;
    height: 600px;
    display: inline-block;
    margin: 1px;
    padding: 1px;
}

.main-frame {
    width: 49%;
    height: 1000px;
    
    border: 1px solid gray;
    float: left;
    display: inline-block;
    margin: 1px;
    padding: 1px;
}


.menu-container {
    margin-top: 1px;
    border: 1px solid gray;
    top: 1px;
}


li {
    display: inline-block;
    width: 100px;
}

h2 {
    text-align: center;
    /*border: 1px solid gray;*/
    margin-top: -1px;
    align-content: flex-start;
}




.div-transform {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.text-transform {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);

}

.ml-item {
    border: 1px solid blue;
    padding: 1px;
    margin: 12px;
    width: 50px;
    height: 50px;
    display: inline-block;
    align-items: center;
    background-color: powderblue;
}

.parent {
    cursor: pointer;
}

.child {
    cursor: pointer;
}

.footer {
    background-color: lightslategrey;
    text-align: center;
    padding-top: 25px;
    height: 50px;
}
